@font-face {
    font-family: "Fregat";
    src: url("../fonts/Fregat/Fregat-Regular.woff") format("woff"),
           url("../fonts/Fregat/Fregat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Fregat";
    src: url("../fonts/Fregat/Fregat-Italic.woff") format("woff"),
           url("../fonts/Fregat/Fregat-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Fregat";
    src: url("../fonts/Fregat/Fregat-Bold.woff") format("woff"),
           url("../fonts/Fregat/Fregat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Fregat";
    src: url("../fonts/Fregat/Fregat-BoldItalic.woff") format("woff"),
           url("../fonts/Fregat/Fregat-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

//// Kelson-Sans
@font-face {
    font-family: "Kelson-Sans";
    src: url("../fonts/Kelson-Sans/Kelson-Sans-Regular.woff") format("woff"),
           url("../fonts/Kelson-Sans/Kelson-Sans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Kelson-Sans";
    src: url("../fonts/Kelson-Sans/Kelson-Sans-Light.woff") format("woff"),
           url("../fonts/Kelson-Sans/Kelson-Sans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Kelson-Sans";
    src: url("../fonts/Kelson-Sans/Kelson-Sans-Bold.woff") format("woff"),
           url("../fonts/Kelson-Sans/Kelson-Sans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

//Adigiana

@font-face {
    font-family: "Adigiana";
    src: url("../fonts/Adigiana/Adigiana.woff") format("woff"),
           url("../fonts/Adigiana/Adigiana.ttf") format("truetype");
    font-style: normal;
}